@page
@model RVPark.Pages.Admin.Roles.UpsertModel
@{
}
<div class="container border backgroundWhite">
    <form method="post">
        <input type="hidden" asp-for="CurrentRole.Id" />

        <div class="form-group">
            <label asp-for="CurrentRole.Name">Role Name</label>
            <input asp-for="CurrentRole.Name" class="form-control" />
            <span asp-validation-for="CurrentRole.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CurrentRole.Description">Description</label>
            <input asp-for="CurrentRole.Description" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">
            @(Model.IsUpdate ? "Update" : "Create")
        </button>
    </form>
</div>