@page
@model RVPark.Pages.Admin.Sites.UpsertModel

<form method="post" asp-action="Upsert">
	<div class="container">
		<div class="row px-2 mx-2 backgroundWhite border">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="col-12 px-3" style="border-bottom: 1px solid #325d88">
				<h2 class="text-primary">@(Model.Site != null && Model.Site.Id != 0 ? "Update" : "Create") Site</h2>
			</div>
			<div class="col-8 pt-3 px-3">
				<div class="form-group row py-3">
					<div class="col-3">
						<label asp-for="Site.Name" class="control-label"></label>
					</div>
					<div class="col-9">
						<input class="form-control" asp-for="Site.Name" />
						<span class="text-danger" asp-validation-for="Site.Name"></span>
					</div>

					@if (Model.Site != null && Model.Site.Id != 0)
					{
						<input type="hidden" asp-for="Site.Id" />
					}
				</div>
				<div class="form-group row py-3">
					<div class="col-3">
						<label asp-for="Site.MaxLength" class="control-label"></label>
					</div>
					<div class="col-9">
						<input class="form-control" asp-for="Site.MaxLength" />
						<span class="text-danger" asp-validation-for="Site.MaxLength"></span>
					</div>
				</div>
				<div class="form-group row py-3">
					<div class="col-3">
						<label asp-for="Site.Description" class="control-label"></label>
					</div>
					<div class="col-9">
						<input class="form-control" asp-for="Site.Description" />
						<span class="text-danger" asp-validation-for="Site.Description"></span>
					</div>
				</div>



				<div class="form-group row py-3">
					<div class="col-3">
						<label asp-for="Site.SiteTypeId" class="control-label"></label>
					</div>
					<div class="col-9">
						<!--<select asp-for="SiteObj.SiteTypeId" asp-items="Model.SiteTypeList" class="form-control"></select>-->
						@Html.DropDownListFor(m => m.Site.SiteTypeId,
							Model.SiteTypeList,
							" - Please select a type - ",
							new { @class = "form-control", @id = "SiteId" })
						<span class="text-danger" asp-validation-for="Site.SiteTypeId"></span>
					</div>
				</div>
				<!--SiteObj != null)
				
					<div class="col-4 p-4">
						<img id="existingImg" src="SiteObj.ImageUrl" style="border-radius:5px; border: 1px solid #bbb9b9; width:100%" />
					</div>
				}-->
				<div class="form-group row py-3">
					<div class="row">
						<div class="col-9 offset-3">
							<div class="row">
								<div class="col-6">
									<button type="submit" class="btn btn-primary form-control">@(Model.Site != null && Model.Site.Id != 0 ? "Update" : "Create")</button>
								</div>
								<div class="col-6">
									<a asp-page="./Index" class="btn btn-success form-control">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
